:root {
  /* --bs-primary: #183153 !important; */
  --bs-primary: #267fbb !important;
  --bs-primary-rgb: 23, 48, 84 !important;
  --ios-bottom-space: 0rem;
}
body {
  background-color: #000000;
  color: var(--bs-gray-300);
  margin: 0;
}
h6 {
  font-size: 1.3rem;
}
p {
  margin: 0;
  font-size: 1.2rem;
}
small {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
a,a:hover,a:active{
  color: #ffffff;
  text-decoration: none;
}
.fa-lg {
  font-size: 1.2rem;
}
button.btn,a.btn {
  border-radius: 10000px;
  padding: 0.5rem 1.2rem;
  margin: 0.2rem;
}
button.btn-lg,a.btn-lg {
  border-radius: 10000px;
  padding: 0.6rem 0.8rem;
  margin: 0.2rem;
  font-size: 1.3rem;
}
.form-control {
  border-radius: 10000px;
}
.btn-primary {
  background-image: linear-gradient(to right, #183153, #267fbb) !important;
  border: none !important;
}
.shadow {
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(255, 255, 255, 0.5) !important;
}
.shadow-sm {
  box-shadow: 0 0.15rem 0.3rem rgba(255, 255, 255, 0.2) !important;
}

.badge {
  display: flex;
  align-items: center;
}
.btn-dark{
  background-color: #3a3f44;
  border-color: #3a3f44;
}
header {
  height: 5rem;
  background-color: #000000;
  /* box-shadow: 0 0.1rem 0.5rem rgba(38, 127, 187, 0.3); */
}

section#main {
  height: calc(var(--vh, 1vh) * 100 - 9rem - var(--ios-bottom-space));
  /* overflow: hidden; */
  overflow-y: auto;
}

header div {
  color: var(--bs-gray-300);
}

footer {
  height: calc(4rem + var(--ios-bottom-space));
  position: fixed;
  bottom: 0;
  width: calc(var(--vw, 1vw) * 100);
  box-shadow: 0 -0.5rem 0.5rem rgba(38, 127, 187, 0.45);
  background-color: #000000;
  z-index: 50;
}
.navbar a {
  color: var(--bs-gray-400);
}
.navbar a.active {
  color: var(--bs-primary);
}

.fa-2xl {
  font-size: 1.5rem;
}

.crosshairs {
  background-color: #ffffff;
  box-shadow: 0 -0.1rem 1rem rgba(0, 0, 0, 0.15);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-gray-600);
  position: absolute;
  bottom: 8rem;
  right: 0;
  margin: 20px;
}
.search-icons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.user-head {
  /* border:#183153 3px solid; */
  width: 3.5rem;
  height: 3.5rem;
  margin: 1rem;
  border-radius: 50%;
}
#location-info {
  border-radius: 10px 10px 0 0;
  height: calc(var(--vh, 1vh) * 100 - 9rem - 4.5rem);
  position: absolute;
  top: 0;
  transform: translateY(calc(var(--vh, 1vh) * 100 - 9rem - 14.5rem - var(--ios-bottom-space)));
  z-index: 10;
  transition: 0.5s;
  overflow-y: auto;
}
#location-info.hide {
  transform: translateY(calc(var(--vh, 1vh) * 100 - 9rem));
  transition: 0.5s;
}
#location-btn.hide{
  transform: translateY(calc(5rem));
  transition: 0.5s;
}
#location-info.fill {
  transform: translateY(0);
  border-radius: 0;
  transition: 0.5s;
}
#location-btn {
  bottom: calc(4rem + var(--ios-bottom-space));
  z-index: 10;
  transition: 0.5s;
}
#car-place {
  background-image: linear-gradient(to right, #183153, #267fbb) !important;
  box-shadow: 0 0.3rem 0.3rem rgba(255, 255, 255, 0.4);
}
#searchLocationInput {
  font-size: 1rem;
  padding: 0.4rem 0.9rem;
  width: calc(100% - 4rem);
}
.highlight{
  font-weight: 700;
}
#collection-btn .pink{
  color: #fb7185;
}
#search-place{
  display: flex;
}